@use "../../styles/abstract/colors" as *;
@use "../../styles/abstract/base_styles" as *;
@import "../../responsive/mixin";
.navbar {
  background-color: $light-success;
  
  .navbar-nav {
    gap: 2rem;
    margin: 0 auto;
    padding: 10px;
  }
  .my-custom-class{
    display: flex !important;
  }

  .brand-icon {
    display: flex;
    gap: 300%;
  }
.container{
  margin-bottom: 10px;
}
  .navbar-nav {
    margin-right: 30%;
    display:block ;
  }
  @include respond(tab-land) {
    height: 11% !important;

    .container {
      max-width: 100%;
      padding: 0px;
    }
    img {
      height: 60px;
      width: 60px;
      margin-left: 25px;
    }
    .navbar-toggler {
      margin-right: 5%;
      font-size: 1.4rem;
    }
    .navbar-collapse {
      background-color: $light-success;
      width: 100%;
    }
    .brand-menu,
    .brand-cart {
      display: none;
    }


    .dropdown-toggle::after {
      content: none;
    }
    

    .nav-item:hover {
      background-color: $light-success-30;
    }
    .navItemsText:hover {
      background-color: $light-success-30;
    }
    .my-custom-class{
     padding:0px;
     width: 100%;
     text-align: center;
     gap: 5px;
    }
   
  }
}
