@use "../../styles/abstract/colors" as *;
@use "../../styles/abstract/base_styles" as *;
@import "../../responsive/mixin";

.Navigation {
  width: 100%;  // Asegura que la barra de navegación ocupe el 100% del ancho de la pantalla
  position: fixed;  // Hace que la barra de navegación sea fija en la pantalla
  top: 0;  // Fija la barra de navegación en la parte superior de la pantalla
  z-index: 1000;  // Ajusta la propiedad z-index para que la barra de navegación esté por encima de otros elementos

  margin: 0;
  padding: 0;
  overflow: hidden;

  .col-sm-2 {
    padding: 0;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .col-sm,
  .fa-bars,
  .col-sm-2,
  .col-sm-5 {
    cursor: pointer;
  }

  nav {
    padding: 0px 20px;
    background-color: $light-success;
  }

  nav > div {
    height: 60px;
    display: flex;
    align-items: center;
  }

  nav > div:last-child {
    border-right: none;
  }

  .fa-chevron-down {
    font-weight: 300; 
    margin-left: 20px;  
  }

  .shopping {
    margin-left: 10rem;
  }
}
