@use "../../styles/abstract/colors" as *;
@use "../../styles/abstract/base_styles" as *;
@import "../../responsive/mixin";

.Navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .col-sm-2 {
    padding: 0;
    margin: 0;
    height: 60px; // Establece la altura deseada para el logo
    display: flex;
    align-items: center; // Centra el contenido verticalmente
  }
  .col-sm{
	margin-left: 30px;
  }
  nav {
    padding: 0px 20px;
	background-color: $light-success;
  }

  nav > div {
    border-right: 1px solid $light-success-30; /* Línea divisoria vertical */
    height: 60px; // Establece la misma altura para todas las demás columnas
    display: flex;
    align-items: center; // Centra el contenido verticalmente
  }

  nav > div:last-child {
    border-right: none;
  }
}
