// Import all Styles
@use '../../styles/abstract/colors' as *;
@use "../../styles/abstract/base_styles" as *;
@import "../../responsive/mixin";

// Type all styles here
// You can also use Bootstrap

// Responsive Style
// example => @include respond(tab-port) {}

// Use $primary for Blue Color
// example 1 => background-color: $primary;
// example 2 => background: $linear-gradient;

.hero {
    padding: 30px 50px 0px 50px;
    // overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: $light-background;
    font-size: 'ubuntu';

    @include respond(tab-port) {
        height: auto;
        padding: 10px 10px 0px 10px;
    }
}

.svg-img{
    width: 11rem;
    height: auto;
}

.text-justify{
    padding: 1.3rem 0rem;
    text-align: justify;
    font-weight: 400;

}