.navFloat{
    background-color:#00000042 ;
    z-index: 1;
    width: 3.5rem;
    height: 22rem;
    position: fixed;
    bottom: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 
.icon:first-child{
    font-size: 2.45rem;
}
.icon:last-child{
    font-size: 2.1rem;
}

.icon{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}